<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<main class="main">
  <title>TO DO LIST</title>
  <link rel="icon" type="image/x-icon" href="icon.ico">
  <div class="content">
    <h1 class="title">TO DO LIST</h1>

      <form class="add-form-div" (submit)="createTodoItem()">
        <mat-form-field  class="add-form">
          <input 
            matInput 
            [formControl]="addFormControl" 
            required
            placeholder="Adiciona nova tarefa"
            
            >
          <mat-hint>Digite enter para criar uma nova tarefa</mat-hint>
        </mat-form-field>
      </form>



      <!-- <mat-form-field class="add-form">
        <mat-label>Adicione sua tarefa...</mat-label>
        <input matInput [formControl]="addFormControl" placeholder=''>
        <button mat-icon-button (click)="createTodoItem()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-form-field> -->

    <table mat-table [dataSource]="list" class="mat-elevation-z8">
      <ng-container matColumnDef="check">
        <td mat-cell *matCellDef="let element"> 
          <mat-checkbox [checked]="element.checked"
            (change)="updateChecked(element.id, $event.checked)">
          </mat-checkbox>
        </td>
      </ng-container>
      <ng-container matColumnDef="item" >
        <td mat-cell *matCellDef="let element" id="item-column"> 
          @if (editing === element.id) {
            <input matInput [formControl]="updateFormControl" placeholder='' class="form-input">
          }
          @else {
            <p [class.taskComplete]="element.checked"> {{element.description}} </p>
          }
        </td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <td mat-cell *matCellDef="let element">
          @if (editing === element.id) {
            <button mat-icon-button (click)="updateDescription(element.id)">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button (click)="stopEditing()">
              <mat-icon>cancel</mat-icon>
            </button>
          }
          @else {
            <button mat-icon-button (click)="startEditing(element.id)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteTodoItem(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          }
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</main>


<router-outlet />